$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

@mixin xs {
  @media (max-width: #{$breakpoint-xs}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$breakpoint-xl}) {
    @content;
  }
}

@mixin min-sm {
  @media (min-width: #{$breakpoint-sm + 1}) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: #{$breakpoint-md + 1}) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: #{$breakpoint-lg + 1}) {
    @content;
  }
}

@mixin custom($size) {
  @media (max-width: #{$size}) {
    @content;
  }
}
