@use './mixins' as *;

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-It.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Avenir Next", sans-serif;
}

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}