@use "@/styles/mixins" as *;
@use "sass:color";

.dashboard-container {
  height: 100vh;

  .dashboard-wrapper {
    min-height: 100vh;
    display: flex;

    .sidebar-wrapper {
      display: none;

      @include min-lg {
        display: block;
      }
    }

    .main-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-width: 0;

      .content-wrapper {
        width: 100%;
        flex: 1;
      }
    }
  }
}
