.users-container {
  padding: 4rem;
  font-family: "Work Sans", sans-serif;

  h1 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(33, 63, 125, 1);
  }

  .user-card-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .user-card {
      min-width: 250px;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      padding: 2rem;
      background: #fff;
      border: 1px solid rgba(33, 63, 125, 0.06);
      border-radius: 4px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);

      .icon-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(223, 24, 255, 0.1);
      }

      .card-label {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: rgba(84, 95, 125, 0.8);
      }

      .card-value {
        font-size: 24px;
        font-weight: 600;
        color: rgba(33, 63, 125, 1);
      }
    }
  }
}
