@use "@/styles/mixins" as *;

.users-container {
  padding: 4rem;
  font-family: "Work Sans", sans-serif;

  @include lg {
    padding: 2.5rem;
  }

  @include md {
    padding: 2rem;
  }

  @include sm {
    padding: 1rem;
  }

  h1 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(33, 63, 125, 1);

    @include md {
      font-size: 22px;
    }

    @include sm {
      font-size: 20px;
    }
  }

  .user-card-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    @include lg {
      gap: 1.25rem;
      margin-top: 1.5rem;
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @include sm {
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-top: 1rem;
    }

    .user-card {
      min-width: 220px;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      padding: 2rem;
      background: #fff;
      border: 1px solid rgba(33, 63, 125, 0.06);
      border-radius: 4px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);

      @include md {
        padding: 1.5rem;
        gap: 0.7rem;
      }

      @include sm {
        padding: 1.25rem;
        gap: 0.6rem;
      }

      .icon-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(223, 24, 255, 0.1);

        @include sm {
          width: 36px;
          height: 36px;
        }

        img {
          width: 20px;
          height: 20px;

          @include sm {
            width: 18px;
            height: 18px;
          }
        }
      }

      .card-label {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: rgba(84, 95, 125, 0.8);

        @include sm {
          font-size: 12px;
        }
      }

      .card-value {
        font-size: 24px;
        font-weight: 600;
        color: rgba(33, 63, 125, 1);

        @include md {
          font-size: 22px;
        }

        @include sm {
          font-size: 20px;
        }
      }
    }
  }

  .users-table-section {
    margin-top: 3rem;

    @include lg {
      margin-top: 2.5rem;
    }

    @include md {
      margin-top: 2rem;
    }

    @include sm {
      margin-top: 1.5rem;
    }
  }
}
